/* Root: global vars */

:root {
    /* Insert Global variables here */
    --light-drab: rgb(120, 176, 22);
    --dark-drab: rgb(64, 88, 24);
    --dark-white: rgb(240, 240, 240);

    --light-drab-theme: rgb(120, 176, 22);
    --dark-drab-theme: rgb(64, 88, 24);
    --dark-white-theme: rgb(240, 240, 240);

    --req-red: rgb(250, 200, 200);

    --dark-dark-theme: rgb(66, 66, 66);
    --light-dark-theme: rgb(111, 111, 111);
    --deep-red-theme: rgb(111, 33, 33);
}

* {
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    background-color: var(--dark-drab);
    background-image: linear-gradient(to right, var(--light-drab), var(--dark-drab));

    display: grid;
    grid-template-columns: 2fr 1fr;

    gap: 2rem;
}
.header nav {
    opacity: 1;
    transition: opacity 200ms;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header nav:hover {
    opacity: 0.5;
}
.doc-name {
    grid-column: 1 / 2;
    text-align: center; 
    color: var(--dark-white);
}
#box-id {
    margin-left: 2rem;
}
#page-subject-img{
    grid-column: 2 / 2;
    float: center;
    width: 60%;
}

/* Resume */
.resume {
    background-image: linear-gradient(to right, var(--light-drab), var(--dark-white));

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 2fr;
    gap: 1rem;
}
#resume-title {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}
.body-item-1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.body-item-2 {
    grid-row: 2 / 3;
    grid-column: 2 / 2;
}
.body-item-3 {
    grid-row: 3 / 3;
    grid-column: 1 / 2;
}
.resume ul {
    margin-left: 3rem;
}
#arclab-img {
    height: 100%;
    width: 100%;
}

/* Hobbies */
.hobbies {
    background-image: linear-gradient(to right, var(--dark-white), var(--light-drab));

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;

    gap: 1rem;
}
#hobbies-title {
    grid-row: 1 / 2;
    grid-column: 2 / 2;
}
.hobbies-item-1 {
    grid-row: 2 / 2;
    grid-column: 1 / 2;
}
.hobbies-item-2 {
    grid-row: 2 / 2;
    grid-column: 2 / 2;
}
#music-1 {
    height: 30dvh;
    width: 30dvw;
}
/*ID(s)*/

/* Survey */
.survey {
    background-image: linear-gradient(to right, var(--light-drab), var(--dark-white));

    display: grid;
    grid-template-rows: 1fr 1fr;

    gap: 1rem;
}
.survey label {
    color: var(--dark-white);
    grid-row: 2;
    display: block;
    margin-top: 1em;
    margin-left: 2em;
}
.survey input, textarea {
    margin-left: 2em;
}
.req {
    color: red;
}
.survey input:required:valid, textarea:required:valid {
    background-color: var(--dark-white);
}
.survey input:invalid, textarea:invalid{
    background-color: var(--req-red);
    /* animation: fade-in 1s ease 2ms; */
}

.error {
    animation: fade-out 2s infinite;
    margin-left: 2em;
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

@keyframes fade-out {
    0% { 
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/*General tags*/
/* body {
    /* background-image: linear-gradient(to right, red, var(--dark-white)); 
} */

h1 {
    font-size: 10dvh;
    font-weight: bold;
}

h2 {
    font-size: 3rem;
    font-weight: bold;

    text-align: left;
    color: var(--dark-white);
    margin-left: 2dvw;
}

h3 {
    font-size: 2rem;
    font-weight: bold;

    text-align: left;
    color: var(--dark-white);
    text-decoration: underline;
    margin-left: 2dvw;
}

/* TODO: Include more media to account for different resolutions*/

/* Phone resolution implementation */
@media only screen and (max-width: 1000px) {
    .header {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .doc-name {
        grid-row: 1 / 2;
        grid-column: 1 / 1;
        text-align: center; 
        color: var(--dark-white);
    }
    #page-subject-img{
        grid-row: 2 / 2;
        grid-column: 1 / 1;
        margin-right: 11dvh;
        margin-left: 11dvh;
        float: right;
        width: 60%;
    }
    #drop-down {
        font-size: 3rem;
    }
    #introduction {
        font-size: 3rem;
    }

    .resume {
        background-image: linear-gradient(to right, var(--light-drab), var(--dark-white));
    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr 2fr 1fr;
        gap: 1rem;
    }
    #resume-title {
        grid-row: 1 / 4;
        grid-column: 1 / 1;
    }
    #box-id {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .body-item-1 {
        grid-row: 2 / 4;
        grid-column: 1 / 1;
    }
    .body-item-2 {
        grid-row: 3 / 4;
        grid-column: 1 / 1;
    }
    .body-item-3 {
        grid-row: 4 / 4;
        grid-column: 1 / 1;
    }
    #arclab-img {
        height: 50%;
        width: 50%;
        margin-left: 12dvh;
        margin-right: 12dvh;
    }
    #survey-content {
        margin-left: 2dvh;
        font-size: 3rem;
    }

    .hobbies {
        grid-template-rows: 1fr 4fr 3fr;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    #hobbies-title {
        grid-row: 1 / 3;
        grid-column: 1 / 1;
    }
    .hobbies-item-1 {
        grid-row: 2 / 3;
        grid-column: 1 / 1;
    }
    .hobbies-item-2 {
        grid-row: 3 / 3;
        grid-column: 1 / 1;
    }
    #music-1 {
        height: 60dvh;
        width: 60dvw;
        margin-left: 10dvh;
        margin-right: 15dvh;
    }
}

/* Tablet resolution implementation */
@media only screen and (max-width: 1025px) {
    .header {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .doc-name {
        grid-row: 1 / 2;
        grid-column: 1 / 1;
        text-align: center; 
        color: var(--dark-white);
    }
    #page-subject-img{
        grid-row: 2 / 2;
        grid-column: 1 / 1;
        float: right;
        width: 60%;
    }

    
}